.drop-right-top, .drop-left-bottom, .drop-right-bottom {
  z-index: 99;
  position: fixed;
  width: 96px;
  height: 128px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.15s;
}

.drop-right-top {
  top: 20%;
  right: 2rem;
}

.drop-right-bottom {
  right: 2rem;
  bottom: 4rem;
}

.drop-left-bottom {
  bottom: 4rem;
  left: 2rem;
}

#displaySettingPanel button {
  transform: rotate(45deg);
  width: 48px;
  height: 48px;
  z-index: 99;
  position: relative;
  left: 24px;
  top: 16px;
}

#displaySettingPanel i {
  transform: rotate(-45deg);
}

#displaySettingPanel .shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.75) !important;
}

#displaySettingPanel .unchecked {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

#movieSearchBar::after {
  content: '🎞️ title:';
}

#searchButton::after {
  content: '🔍';
}

#clearButton::after {
  content: '❌';
}

#movieCards.row>* {
  padding: 0 .25rem;
}

.list-movie-title {
  /* hide overflow text and replace with dots */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
}

.fs-5 {
  font-size: 1.075rem !important;
}

.modal-content {
  /* position ancestors for draggable hint icons */
  filter: opacity(100%);
}

.col-movie-poster:hover .poster-draggable-hint, .col-movie-description:hover .description-draggable-hint {
  /* hide icon for desktop users */
  opacity: 0;
}

.card-img-top {
  height: 30vh;
  object-fit: cover;
  object-position: center top;
}

.modal-body .row-movie-information {
  height: 330px;
}

.modal-body .col-movie-poster {
  height: 80px;
  object-fit: cover;
  overflow-y: auto;
}

.poster-draggable-hint, .description-draggable-hint {
  transform: rotate(45deg);
  background-color: rgba(255, 193, 7, 0.4);
  height: 28px;
  width: 28px;
  position: fixed;
  top: 17%;
  right: 9%;
  z-index: 9;
  transition: opacity 0.125s
}

.description-draggable-hint {
  top: auto;
  bottom: 23%;
}

.poster-draggable-hint i, .description-draggable-hint i {
  transform: rotate(-45deg);
}

.modal-body .col-movie-description {
  overflow-y: auto;
}

.movie-director-date p {
  font-size: 0.85rem;
  margin-bottom: 0;
}

.modal-body span.badge:hover {
  cursor: default;
}

.modal-body span.genres-filter:hover {
  cursor: pointer;
}

.highlight {
  background-color: #ffc107;
  color: #790000;
}

#pagination li:hover {
  cursor: default;
}

#pagination li:not(.active):hover {
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 4;
  /* overlap page-item active */
}

footer.shadow-lg {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9)!important;
}

@media screen and (min-width: 768px) {
  #movieSearchBar::after {
    content: '🎞️ Movie title:';
  }
  #searchButton::after {
    content: '🔍 Search';
  }
  #clearButton::after {
    content: '❌ Clear search result';
  }
  .fs-5 {
    font-size: 1.25rem !important;
  }
  .card-img-top {
    height: auto;
  }
  .modal-body .col-movie-poster {
    height: 100%;
    overflow-y: hidden;
  }
  .poster-draggable-hint, .description-draggable-hint {
    display: none !important;
  }
  .movie-director-date p {
    font-size: 1rem;
  }
}