.modal-body .row-movie-information {
  height: 330px;
}

.modal-body .row-movie-information .col-poster {
  height: 100%;
  overflow-y: auto;
}

span.badge:hover {
  cursor: default;
}

span.genres-filter:hover {
  cursor: pointer;
}

.highlight {
  background-color: #ffc107;
  color: #790000;
}

#pagination li:hover {
  cursor: default;
}

#pagination li:not(.active):hover {
  cursor: pointer;
}